.feature-card{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.feature-card img{
  width: 55px;
  height: 55px;
  object-fit: contain;
}

.feature-info{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
}

.feature-info h1{
  font-size: 24px;
}

.feature-info p{
  font-size: 16px;
  width: 450px;
  text-align: justify;
}

