.cart-container{
  width: 90%;
  margin: 0 auto;
}

.cart-container{
  margin-top: 10%;

}
.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-order{
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #333;
  border: 2px solid #333;
  margin-top: 12px;
  text-align: center;
  position: relative;
  transition: all .35s;
  cursor: pointer;
}
.button-order span{
  position: relative;
  z-index: 2;
}
.button-order:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: black;
  transition: all .35s;
}
.button-order:hover{
  color: #fff;
}
.button-order:hover:after{
  width: 100%;
}
.payment_methods_container .payment_methods_icons{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.quantity-cart{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}


